@model IEnumerable<BusinessERP.Models.Customer>

@{
    ViewBag.Title = "CustomerList";
    Layout = "~/Views/Support/_Layout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h2>Customer List</h2>
<br />
<form method="post">
    <i class="fas fa-search">
        <input type="text" id="searchkey" name="searchkey" placeholder="Search vendor by name" value="@TempData["searchkey"]" />
        <select name="status">
            @if (TempData["status"] != null)
            {
                <option value="All" @if (TempData["status"].ToString() == "All") { var s = "selected"; @s }>All</option>
                <option value="Active" @if (TempData["status"].ToString() == "Active") { var s = "selected"; @s }>Active</option>
                <option value="Blocked" @if (TempData["status"].ToString() == "Blocked") { var s = "selected"; @s }>Blocked</option>
            }
            else
            {
                <option value="All">All</option>
                <option value="Active">Active</option>
                <option value="Blocked">Blocked</option>
            }
        </select>
        <input type="submit" value="Search" />
    </i>
</form>
<br />
<div>
    <table class="table" id="view">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfilePicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @item.DateOfBirth.ToString("yyyy-MM-dd")
                </td>
                <td>
                    <img src=@Url.Content(item.ProfilePicture) alt="Avater" width="50" height="50" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a href="/Support/CustomerDetails/@item.CustomerId" class="btn btn-info">Details</a>
                    @if (item.Status.ToString() == "Active")
                    {
                        <a href="/Support/CustomerBlock/@item.CustomerId" class="btn btn-danger">Block</a>
                    }
                    else
                    {
                        <a href="/Support/CustomerUnblock/@item.CustomerId" class="btn btn-success">Unblock</a>
                    }
                </td>
            </tr>
        }

    </table>
</div>
<a href="/Support/Index">
    <button type="button">
        Back
    </button>
</a>