@model BusinessERP.Models.RegistrationRequest

@{
    ViewBag.Title = "RRDetails";
    Layout = "~/Views/Support/_Layout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h2>Details</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Model.DateOfBirth.ToString("yyyy-MM-dd")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfilePicture)
        </dt>

        <dd>
            <img src=@Url.Content(Model.ProfilePicture.ToString()) alt="Avater" width="100" height="100" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserType)
        </dd>

    </dl>
</div>
<p>
    <a href="/Support/RRApprove/@Model.RegistrationId" class="btn btn-success">Approve</a>
    <a href="/Support/ViewRegistrationRequest" class="btn btn-dark">Back</a>
    <a href="/Support/RRReject/@Model.RegistrationId" class="btn btn-danger">Reject</a>
</p>
