@model IEnumerable<BusinessERP.Models.CompanyProduct>

@{
    ViewBag.Title = "BestSelling";
    Layout = "~/Views/Customer/_Layout.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h2>Top 5 Best Selling Products</h2>
<br />
@{
    BusinessERP.Models.CompanyProduct a = null;
    BusinessERP.Models.CompanyProduct b = null;
    BusinessERP.Models.CompanyProduct c = null;
    BusinessERP.Models.CompanyProduct d = null;
    int count = 0;
}
<div class="container">
    @foreach (var item in Model)
    {
        if (count == 0)
        {
            a = item;
            count++;
            continue;
        }
        else if (count == 1)
        {
            b = item;
            count++;
            continue;
        }
        else if (count == 2)
        {
            c = item;
            count++;
            continue;
        }
        else if (count == 3)
        {
            d = item;
            count++;
            continue;
        }
        else if (count == 4)
        {
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <img class="image" src=@Url.Content(a.ProductPicture) style="width:100%">
                        <h4>@Html.DisplayFor(modelItem => a.ProductName)</h4>
                        <p class="price"> $@Html.DisplayFor(modelItem => a.UnitPrice)</p>
                        <p class="quantity"> Available Quantity:@Html.DisplayFor(modelItem => a.Quantity)</p>
                        <p class="body">
                            @Html.DisplayFor(modelItem => a.LongDescription)<br />
                        </p>
                        <p><a href="/CompanyProduct/ViewProduct/@Html.DisplayFor(modelItem => a.ProductId)"><button>View</button></a></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="image" src=@Url.Content(b.ProductPicture) style="width:100%">
                        <h4>@Html.DisplayFor(modelItem => b.ProductName)</h4>
                        <p class="price"> $@Html.DisplayFor(modelItem => b.UnitPrice)</p>
                        <p class="quantity"> Available Quantity:@Html.DisplayFor(modelItem => b.Quantity)</p>
                        <p class="body">
                            @Html.DisplayFor(modelItem => b.LongDescription)<br />
                        </p>
                        <p><a href="/CompanyProduct/ViewProduct/@Html.DisplayFor(modelItem => b.ProductId)"><button>View</button></a></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="image" src=@Url.Content(c.ProductPicture) style="width:100%">
                        <h4>@Html.DisplayFor(modelItem => c.ProductName)</h4>
                        <p class="price"> $@Html.DisplayFor(modelItem => c.UnitPrice)</p>
                        <p class="quantity"> Available Quantity:@Html.DisplayFor(modelItem => c.Quantity)</p>
                        <p class="body">
                            @Html.DisplayFor(modelItem => c.LongDescription)<br />
                        </p>
                        <p><a href="/CompanyProduct/ViewProduct/@Html.DisplayFor(modelItem => c.ProductId)"><button>View</button></a></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="image" src=@Url.Content(d.ProductPicture) style="width:100%">
                        <h4>@Html.DisplayFor(modelItem => d.ProductName)</h4>
                        <p class="price"> $@Html.DisplayFor(modelItem => d.UnitPrice)</p>
                        <p class="quantity"> Available Quantity:@Html.DisplayFor(modelItem => d.Quantity)</p>
                        <p class="body">
                            @Html.DisplayFor(modelItem => d.LongDescription)<br />
                        </p>
                        <p><a href="/CompanyProduct/ViewProduct/@Html.DisplayFor(modelItem => d.ProductId)"><button>View</button></a></p>
                    </div>
                </div>
            </div>
            <br />
            a = item;
            b = null;
            c = null;
            d = null;
            count = 1;
        }
    }
    @if (count == 1)
    {
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img class="image" src=@Url.Content(a.ProductPicture) style="width:100%">
                    <h4>@Html.DisplayFor(modelItem => a.ProductName)</h4>
                    <p class="price"> $@Html.DisplayFor(modelItem => a.UnitPrice)</p>
                    <p class="quantity"> Available Quantity:@Html.DisplayFor(modelItem => a.Quantity)</p>
                    <p class="body">
                        @Html.DisplayFor(modelItem => a.LongDescription)<br />
                    </p>
                    <p><a href="/CompanyProduct/ViewProduct/@Html.DisplayFor(modelItem => a.ProductId)"><button>View</button></a></p>
                </div>
            </div>
        </div>
    }
    else if (count == 2)
    {
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img class="image" src=@Url.Content(a.ProductPicture) style="width:100%">
                    <h4>@Html.DisplayFor(modelItem => a.ProductName)</h4>
                    <p class="price"> $@Html.DisplayFor(modelItem => a.UnitPrice)</p>
                    <p class="quantity"> Available Quantity:@Html.DisplayFor(modelItem => a.Quantity)</p>
                    <p class="body">
                        @Html.DisplayFor(modelItem => a.LongDescription)<br />
                    </p>
                    <p><a href="/CompanyProduct/ViewProduct/@Html.DisplayFor(modelItem => a.ProductId)"><button>View</button></a></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="image" src=@Url.Content(b.ProductPicture) style="width:100%">
                    <h4>@Html.DisplayFor(modelItem => b.ProductName)</h4>
                    <p class="price"> $@Html.DisplayFor(modelItem => b.UnitPrice)</p>
                    <p class="quantity"> Available Quantity:@Html.DisplayFor(modelItem => b.Quantity)</p>
                    <p class="body">
                        @Html.DisplayFor(modelItem => b.LongDescription)<br />
                    </p>
                    <p><a href="/CompanyProduct/ViewProduct/@Html.DisplayFor(modelItem => b.ProductId)"><button>View</button></a></p>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img class="image" src=@Url.Content(a.ProductPicture) style="width:100%">
                    <h4>@Html.DisplayFor(modelItem => a.ProductName)</h4>
                    <p class="price"> $@Html.DisplayFor(modelItem => a.UnitPrice)</p>
                    <p class="quantity"> Available Quantity:@Html.DisplayFor(modelItem => a.Quantity)</p>
                    <p class="body">
                        @Html.DisplayFor(modelItem => a.LongDescription)<br />
                    </p>
                    <p><a href="/CompanyProduct/ViewProduct/@Html.DisplayFor(modelItem => a.ProductId)"><button>View</button></a></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="image" src=@Url.Content(b.ProductPicture) style="width:100%">
                    <h4>@Html.DisplayFor(modelItem => b.ProductName)</h4>
                    <p class="price"> $@Html.DisplayFor(modelItem => b.UnitPrice)</p>
                    <p class="quantity"> Available Quantity:@Html.DisplayFor(modelItem => b.Quantity)</p>
                    <p class="body">
                        @Html.DisplayFor(modelItem => b.LongDescription)<br />
                    </p>
                    <p><a href="/CompanyProduct/ViewProduct/@Html.DisplayFor(modelItem => b.ProductId)"><button>View</button></a></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="image" src=@Url.Content(c.ProductPicture) style="width:100%">
                    <h4>@Html.DisplayFor(modelItem => c.ProductName)</h4>
                    <p class="price"> $@Html.DisplayFor(modelItem => c.UnitPrice)</p>
                    <p class="quantity"> Available Quantity:@Html.DisplayFor(modelItem => c.Quantity)</p>
                    <p class="body">
                        @Html.DisplayFor(modelItem => c.LongDescription)<br />
                    </p>
                    <p><a href="/CompanyProduct/ViewProduct/@Html.DisplayFor(modelItem => c.ProductId)"><button>View</button></a></p>
                </div>
            </div>
        </div>
    }
</div>

