@model BusinessERP.Models.Employee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<h2>Employee Details</h2>
<div style="background-color:black;">
    <br />
    <h4 style="color:red">Employee</h4>
    <br />
</div>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Model.DateOfBirth.ToString("yyyy-MM-dd")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JoiningDate)
        </dt>

        <dd>
            @Model.JoiningDate.ToString("yyyy-MM-dd")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfilePicture)
        </dt>

        <dd>
            <img src=@Url.Content(Model.ProfilePicture.ToString()) alt="Avater" width="100" height="100" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobCategory.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobCategory.JobTitle)
        </dd>

    </dl>
</div>
<p>
    <a href="/Employee/Edit/@Model.EmployeeId">
        <button type="button">
            Edit
        </button>
    </a>
    <a href="/Employee/Index">
        <button type="button">
            Back
        </button>
    </a>
</p>
