@model BusinessERP.Models.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<h2>ChangePassword</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                <span style="color:red;background-color:white">
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    @TempData["OldP"]
                </span>
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                <span style="color:red;background-color:white">
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                    @TempData["NpAndRnp"]
                </span>
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.ReNewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.ReNewPassword, new { htmlAttributes = new { @class = "form-control" } })
                <span style="color:red;background-color:white">
                    @Html.ValidationMessageFor(model => model.ReNewPassword, "", new { @class = "text-danger" })
                </span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="/Admin/MyProfile">
        <button type="button">
            Back
        </button>
    </a>
</div>
