@model BusinessERP.Models.Notice

@{
    ViewBag.Title = "NoticeDetails";
    Layout = "~/Views/Admin/_Layout.cshtml";
}
<h2>Notice Details</h2>
<div style="background-color:black;">
    <br />
    <h4 style="color:red">Notice</h4>
    <br />
</div>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NoticeTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoticeTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoticeBody)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoticeBody)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiverType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiverType)
        </dd>

    </dl>
</div>
<a href="/Admin/NoticeEdit/@Model.NoticeId">
    <button type="button">
        Edit
    </button>
</a>
<a href="/Admin/ViewAllNotice">
    <button type="button">
        Back
    </button>
</a>


