@model BusinessERP.Models.ViewModels.ProfileViewModel
@{
    ViewBag.Title = "UpdateProfile";
    Layout = "~/Views/Profile/_Layout.cshtml";
}

<h2>UpdateProfile</h2>
<br />
<form method="post" enctype="multipart/form-data">
    <table id="view">
        <tr>
            <td>Name:</td>
            <td>
                <input type="hidden" name="Id" value="@Model.Id" />
                <input type="text" name="Name" value="@Model.Name" />
                <span style="color:red;background-color:white">
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </span>
            </td>
        </tr>
        <tr>
            <td>User Name :</td>
            <td>
                <input type="hidden" name="UserName" value="@Model.UserName" />@Model.UserName
                <span style="color:red;background-color:white">
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </span>
            </td>
        </tr>
        <tr>
            <td>Email :</td>
            <td>
                <input type="text" name="Email" value="@Model.Email" />
                <span style="color:red;background-color:white">
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </span>
            </td>
        </tr>
        <tr>
            <td>Gender :</td>
            <td>
                <input type="radio" name="Gender" value="Male"
                       @if (@Model.Gender == "Male") { var s = "checked"; @s ; } /> Male
                <input type="radio" name="Gender" value="Female"
                       @if (@Model.Gender == "Female") { var s = "checked"; @s ; } /> Female
                <input type="radio" name="Gender" value="Other"
                       @if (@Model.Gender == "Other") { var s = "checked"; @s ; } /> Other
                <br />
                <span style="color:red;background-color:white">
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                </span>
            </td>
        </tr>
        <tr>
            <td>Date Of Birth :</td>
            <td>
                <input type="date" name="DateOfBirth" value="@Model.DateOfBirth.ToString("yyyy-MM-dd")" />
                <span style="color:red;background-color:white">
                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                </span>
            </td>
        </tr>
        <tr>
            <td>Address :</td>
            <td>
                <input type="text" name="Address" value="@Model.Address" />
                <span style="color:red;background-color:white">
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </span>
            </td>
        </tr>
        @if (Session["UserType"].ToString() != "Customer" & Session["UserType"].ToString() != "Vendor")
        {
            <tr>
                <td>Joining Date :</td>
                <td>
                    <input type="date" name="JoiningDate" value="@Model.JoiningDate.ToString("yyyy-MM-dd")" disabled/>
                    <span style="color:red;background-color:white">
                        @Html.ValidationMessageFor(model => model.JoiningDate, "", new { @class = "text-danger" })
                    </span>
                </td>
            </tr>
            <tr>
                <td>Job Title :</td>
                <td>
                    <select name="JobId" disabled>
                        @foreach (var item in TempData["JobCategory"] as IList<BusinessERP.Models.JobCategory>)
                        {
                            if (item.JobId == Model.JobId)
                            {
                                <option value="@item.JobId" selected>@item.JobTitle</option>
                                continue;
                            }
                            <option value="@item.JobId">@item.JobTitle</option>

                        }
                    </select>
                    <span style="color:red;background-color:white">
                        @Html.ValidationMessageFor(model => model.JobId, "", new { @class = "text-danger" })
                    </span>
                </td>
            </tr>
        }
        <tr>
            <td>Profile Status :</td>
            <td>
                <input type="hidden" name="Status" value="@Model.Status" />@Model.Status
                <span style="color:red;background-color:white">
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </span>
            </td>
        </tr>
        <tr>
            <td>Profile Picture :</td>
            <td>
                <input type="file" name="Image" />
                <span style="color:red;background-color:white">
                    @TempData["Error"]
                </span>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <input type="submit" value="Update" />
                <input type="reset" />
                <a href="/Profile/Index">
                    <button type="button">
                        Back
                    </button>
                </a>
            </td>
        </tr>
    </table>
</form>
