@model BusinessERP.Models.RegistrationRequest

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Home/_Layout.cshtml";
}
<link href="~/Content/CSS/Style.css" rel="stylesheet" />
<style>
    table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 50%;
        overflow-x: auto;
    }
</style>
<h1 align="center" style="color:red;">Registration</h1>
<br />
<div align="center">
    <form method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <table align="center" id="view">
            <tr>
                <td>Name:</td>
                <td>
                    <input type="text" name="Name" value="@if (Model != null) { @Model.Name} " />
                    <span style="color:red;background-color:white">
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </span>
                </td>
            </tr>
            <tr>
                <td>User Name :</td>
                <td>
                    <input type="text" name="UserName" value="@if (Model != null) { @Model.UserName}" />
                    <span style="color:red;background-color:white">
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        @TempData["Error1"]
                    </span>
                </td>
            </tr>
            <tr>
                <td>Password :</td>
                <td>
                    <input type="password" name="Password" value="@if (Model != null) { @Model.Password}" />
                    <span style="color:red;background-color:white">
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </span>
                </td>
            </tr>
            <tr>
                <td>Confirm Password :</td>
                <td>
                    <input type="password" name="CPassword" value="@TempData["CPassword"]" />
                    <span style="color:red;background-color:white">
                        @TempData["PError"]
                    </span>
                </td>
            </tr>
            <tr>
                <td>Email :</td>
                <td>
                    <input type="text" name="Email" value="@if (Model != null) { @Model.Email}" />
                    <span style="color:red;background-color:white">
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </span>
                </td>
            </tr>
            <tr>
                <td>Gender :</td>
                <td>
                    <input type="radio" name="Gender" value="Male" @if (Model != null) { if (Model.Gender == "Male") { var v = "checked"; @v ; } } /> Male
                    <input type="radio" name="Gender" value="Female" @if (Model != null) { if (Model.Gender == "Female") { var v = "checked"; @v ; } } /> Female
                    <input type="radio" name="Gender" value="Other" @if (Model != null) { if (Model.Gender == "Other") { var v = "checked"; @v ; } } /> Other
                    <br />
                    <span style="color:red;background-color:white">
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                    </span>
                </td>
            </tr>
            <tr>
                <td>Date Of Birth :</td>
                <td>
                    <input type="date" name="DateOfBirth" value="@if (Model != null) { @Model.DateOfBirth.ToString("yyyy-MM-dd")}" />
                    <span style="color:red;background-color:white">
                        @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                    </span>
                </td>
            </tr>
            <tr>
                <td>Address :</td>
                <td>
                    <input type="text" name="Address" value="@if (Model != null) { @Model.Address}" />
                    <span style="color:red;background-color:white">
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </span>
                </td>
            </tr>
            <tr>
                <td>Profile Picture :</td>
                <td>
                    <input type="file" name="Image" />
                    <span style="color:red;background-color:white">
                        @TempData["Error2"]
                    </span>
                </td>
            </tr>
            <tr>
                <td>UserType :</td>
                <td>
                    <select name="UserType">
                        <option value="" @if (Model != null) { if (@Model.UserType=="") { var v = "selected"; @v; } }>None</option>
                        <option value="Customer" @if (Model != null) { if (@Model.UserType=="Customer") { var v = "selected"; @v; } }>Customer</option>
                        <option value="Vendor" @if (Model != null) { if (@Model.UserType=="Vendor") { var v = "selected"; @v; } }>Vendor</option>
                    </select>
                    <span style="color:red;background-color:white">
                        @Html.ValidationMessageFor(model => model.UserType, "", new { @class = "text-danger" })
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <input type="submit" value="Submit" />
                    <input type="reset" />
                    <a href="/Home/Index">
                        <button type="button">
                            Back
                        </button>
                    </a>
                </td>
            </tr>
        </table>
    </form>
</div>
